[phases.setup]
nixPkgs = ["jdk17"]

[phases.build]
cmds = ["chmod +x mvnw", "./mvnw clean package -DskipTests"]

[start]
cmd = "java -Xmx352m -Xss512k -XX:TieredStopAtLevel=1 -Dserver.port=$PORT -jar target/EventBookingBackend.jar"
